* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  object-fit: cover;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  color: #007067;
  transition: all 0.4s ease;
}
.main {
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: #007067;
  border-radius: 4px;
  width: 5px;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
  width: 5px;
}
.hambarger,
.close {
  position: absolute;
  top: 3%;
  left: 88%;
  color: #007067;
}
.hambarger i,
.close i {
  font-size: 2rem;
}
.fa-regular {
  font-size: 2rem;
}
.ico img {
  position: absolute;
  top: 1%;
  left: 7%;
  height: 50px;
  width: 60px;
}
.navbar {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 10px 0 10px 50px;
  position: fixed;
  background-color: #fff;
  z-index: 9;
}
.navbar.active {
  background: rgba(223, 222, 222, 0.6);
  backdrop-filter: blur(8px);
  transition: all 1s ease-in-out;
  padding: 5px 60px;
}
.navbar.active .logo img {
  width: 80px;
}
.logo img {
  width: 150px;
  transition: all 1s ease-in-out;
}
.mobile-menu span {
  display: none;
  color: black;
  font-size: 2.4rem;
  margin-right: 2rem;
}
.menu {
  list-style: none;
  display: flex;

  margin-left: 20%;
  padding: 0;

  gap: 40px;
  transition: 0.6s;
}
.menu li {
  margin-right: 20px;
  font-weight: bold;
  padding: 10px;
}
.menu li:last-child {
  border: 1px solid #007067;
  width: 140px;
  padding: 10px;
  text-align: center;
  margin-right: 30px;
  text-decoration: none;
  background-color: #007067;
  border-radius: 15px;
}
#login {
  color: #fff;
}
.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.menu li a:hover {
  color: #007067;
}
.div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2%;
  margin-top: 10%;
  overflow: hidden;
}
.right {
  margin-left: 20%;
  width: 30%;
}
.right h2 {
  font-size: 2rem;
}
.right p {
  font-size: 18px;
}
.right button {
  height: 35px;
  border-radius: 10px;
  background-color: #007067;
  border: 1px solid #007067;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.right button img {
  height: 15px;
}
.right button .pets {
  padding-right: 10px;
}
.left img {
  border-radius: 44% 56% 24% 76% / 28% 36% 64% 72%;
  height: 400px;
  width: 400px;
  margin-left: -60%;
}
.div2 {
  background-color: #f6f6f7;
}
.works-heading p {
  text-align: center;
  font-size: 20px;
  padding: 5% 5% 4%;
}
.works-title p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.works {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 5%;
}
.works-dividion {
  margin: 0 5% 5%;
}
.works-dividion h4 {
  padding-bottom: 5%;
  font-size: 20px;
}
.div3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5%;
}
.right1 {
  margin-right: 15%;
  margin-top: -5%;
  width: 30%;
}
.right1 h2 {
  font-size: 2rem;
}
.right1 p {
  font-size: 18px;
}
.right1 button {
  height: 35px;
  border-radius: 10px;
  background-color: #007067;
  border: 1px solid #007067;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.right1 button img {
  height: 15px;
}
.right button .pets {
  padding-right: 10px;
}
.left1 img {
  border-radius: 43% 57% 70% 30% / 30% 30% 70% 70%;
  height: 400px;
  width: 400px;
  margin-left: 60%;
  margin-top: 10%;
}
.meet {
  background-color: #f6f6f7;
}
.meet-heading p {
  padding: 5% 0 2%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.meet-subheading p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.meet button {
  height: 35px;
  border-radius: 10px;
  background-color: #007067;
  border: 1px solid #007067;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin: 2% 0 5% 45%;
}
.meet button img {
  height: 15px;
}
.meet button .pets {
  padding-right: 10px;
}
.footer {
  background-color: #007067;
  padding: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
}
.footer .heading {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
.footer-logo a {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  padding-right: 10px;
}
.main-body {
  background-color: #f6f6f7;
}
.div4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 2% 0;
  margin-top: 10%;
}
.people {
  background-color: #fff;
  margin: 0 2% 2%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.people-img img {
  margin: 30px;
  height: 400px;
  width: 300px;
  border-radius: 10px;
}
.people-desc {
  display: flex;
  flex-direction: row;
}
.people-intro {
  margin: 30px;
}
.people-intro p {
  width: 180px;
  line-height: 2;
  font-size: 15px;
}
.people-describe {
  margin: 30px;
}
.people-describe p {
  font-size: 15px;
}
.div4 i {
  padding-right: 10px;
}
.contact {
  padding: 50px 50px 50px 90px;
}
.contact input {
  width: 45%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
.contact .name {
  padding: 20px;
}
.contact .email {
  padding: 20px;
}
.contact .message {
  padding: 20px;
}
.contact textarea {
  width: 93%;
  height: 180px;
  border: 1px solid#000;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.people1 {
  background-color: #fff;
  margin: 0 5% 1%;
  border-radius: 10px;
}
.submit-button {
  margin-left: 75px;
  margin-bottom: 1%;
  font-size: 15px;
}
button {
  background-color: #007067;
  border: 1px solid #007067;
  border-radius: 10px;
  padding: 10px 70px;
  color: #fff;
  cursor: pointer;
}
.login-form {
  display: flex;
  width: 100%;
}
.icon {
  margin: 10% 0 0 15%;
  width: 50%;
}
.icon img {
  padding-left: 120px;
  height: 100px;
  align-items: center;
}
.icon .heading {
  padding-top: 30px;
  width: 50%;
  text-align: center;
}
.icon form {
  padding: 30px 0;
}
.icon label {
  padding-left: 5px;
  font-weight: 800;
}
.icon input {
  width: 50%;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 15px;
}
.icon .name,
.password {
  margin: 25px 0;
}
.icon .button1 {
  background-color: #007067;
  border: 1px solid #007067;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  width: 53%;
  font-weight: 800;
  letter-spacing: 1px;
}
.rimage img {
  height: 500px;
  width: 500px;
  margin-left: -60%;
  margin-top: 30%;
}
.heading img {
  width: auto;
  height: 15px;
}
.create-account a {
  text-decoration: none;
}
.side {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s;
  transform: translateY(-100%);
}
.side ul a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.side_nav_logo {
  margin: 5% 0 5% 5%;
  display: flex;
  justify-content: space-between;
}
.side ul li {
  padding-top: 50px;
  font-size: 20px;
  padding-left: 20px;
}
.side_nav_logo img {
  width: 60px;
}

.side.active {
  transform: translateX(0);
}

/* Media Query */
/* @media (max-width: 1255px) {
  .div1 .right {
    margin-left: 10%;
  }
  .left img {
    margin-left: -25%;
  }
  .left1 img {
    margin-left: 30%;
  }
  .div3 .right1 {
    margin-right: 5%;
  }
}
@media (max-width: 1102px) {
  .menu li {
    margin-right: 0;
  }
  .main-body .div4 {
    padding-top: 4rem;
    margin-bottom: 3rem;
  }
  .main-body .div1 {
    padding: 3rem 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 999px) {
  .menu li {
    padding: 10px 0 0;
  }
}
@media (max-width: 968px) {
  .mobile-menu span {
    display: block;
  }
 
  .logo img {
    width: 130px;
    height: 85px;
  }
  .left1 img {
    margin-left: 10%;
  }
}
@media (max-width: 823px) {
  .navbar {
    display: none;
  }
  .fa-solid {
    margin-top: 40px;
    font-size: 3rem;
  }
  .div1 .right {
    margin-left: 5%;
  }
  .left img {
    margin-left: -10%;
  }
  .left1 img {
    margin-left: 10%;
  }
  .right1 {
    margin-right: 20px;
  }
  .people {
    flex-wrap: wrap;
    justify-content: center;
  }
  .people-desc {
    width: 100%;
  }
} */
/* for-mobile */

@media (max-width: 480px) {
  .navbar {
    display: none;
  }
  .logo img {
    width: 20px;
  }
  .main-body .div4 {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
  }
  .right1,
  .right {
    width: 100%;
    text-align: center;
  }
  .right h2 {
    margin-left: -25%;
    margin-top: 20%;
    font-size: 25px;
  }
  .right1 h2 {
    margin-left: 60px;
    margin-top: 20px;
    font-size: 25px;
  }
  .right1 p {
    font-size: 15px;
    margin-left: 60px;
  }
  .right p {
    font-size: 15px;
    padding: 15px;
    margin-left: -25%;
  }
  .right1 button {
    margin-left: 30px;
    width: 100%;
  }
  .meet button {
    width: 80%;
    margin-left: 10%;
  }
  .right button {
    margin-left: -25%;
    width: 100%;
  }
  .div4 {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
  }

  .main-body .div1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .div1 .right {
    width: 100%;
  }
  .left img {
    margin: 60px;
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
  .div1 ul li {
    margin-left: -25%;
    list-style: none;
  }
  .left1 img {
    margin-left: 45px;
    margin-top: 80px;
    height: 300px;
    width: 300px;
  }
  .works-heading p {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
  }
  .works-title p {
    font-size: 20px;
  }
  .div1,
  .div3 {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .people-img img {
    width: 300px;
    height: 400px;
    padding-left: 5%;
  }
  .people {
    display: flex;
    flex-direction: column;
  }
  .people-intro {
    flex-wrap: wrap;
    margin: 10px 0 10px 50px;
  }
  .people-describe {
    display: none;
  }
  .meet-heading p {
    font-size: 1rem;
  }
  .meet-subheading p {
    font-size: 0.8rem;
  }
  .right1 .email1,
  .right1 .phone {
    margin-left: 15%;
  }
  .contact {
    margin-left: -25%;
  }
  .contact input {
    width: 110%;
    margin: 10px;
  }
  .contact .email {
    margin-top: -12%;
  }
  .contact .message {
    width: 105%;
    margin-left: 3%;
    margin-top: -10%;
  }
  .submit-button button {
    margin-bottom: 5%;
    margin-left: -10%;
    width: 100%;
  }
  .rimage img {
    display: none;
  }
  .heading img {
    width: auto;
    height: 15px;
  }
  .icon img {
    margin-left: -20%;
    margin-top: 10%;
  }
  .icon .heading {
    font-size: 8px;
    margin-left: 20%;
    width: 100%;
  }
  .icon input {
    width: 280px;
    margin-right: -30%;
  }
  .icon .button1 {
    width: 305px;
  }
  .works {
    display: flex;
    flex-direction: column;
  }
  .works-dividion h4 {
    font-size: 1rem;
  }
  .works-dividion p {
    font-size: 12px;
  }
}
